<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074753214236-oack92m3lnea8vvvm2c6g95o4476046n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074753214236-oack92m3lnea8vvvm2c6g95o4476046n</string>
	<key>API_KEY</key>
	<string>AIzaSyAip5rnTxcxzOpTqdZot2kaTZWP9WtPIKs</string>
	<key>GCM_SENDER_ID</key>
	<string>1074753214236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialapp</string>
	<key>PROJECT_ID</key>
	<string>rn-social-app-3f8fb</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-social-app-3f8fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074753214236:ios:0dcab40f5917f292ee8cd9</string>
</dict>
</plist>